:root {
  --main-text-color: #757575;
  --accent-color: rgb(33, 150, 243);
  --title-color: #212121;
  --white: #ffffff;
  --dark-background: #2f303a;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --button: #f5f4fa;
  --icon-color: #afb1b8;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--white);
}

textarea {
  resize: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
p {
  margin: 0;
}

p {
  margin-bottom: 50px;
}

/*Скрытые заголовки*/
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*Контейнер для секций НЕ ТРОГАТЬ БОЛЬШЕ*/
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*Список без маркеров*/
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*Ссылка*/
.link {
  color: var(--title-color);
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
  text-decoration: underline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Header*/
.header {
  align-items: center;
  background-color: var(--white);
  border-bottom: 1px solid #ececec;
}

.header .logo {
  margin-right: 93px;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  min-height: 80px;
}

/*Логотип*/
.logo {
  margin-bottom: 0;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--title-color);
}

.logo-part {
  color: var(--accent-color);
}

/* Навигация */
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

/*Навигация сайта*/

.site-nav {
  display: inline-flex;
  margin-top: 32px;
  margin-bottom: 32px;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

/*Применится ко всем, у которых есть сосед сверху*/
.site-nav .menu-item + .menu-item {
  margin-left: 50px;
}

.menu-link {
  font-weight: 500;
  line-height: 1.314;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Контакты*/
.auth-nav {
  display: inline-flex;
  margin-top: 32px;
  margin-bottom: 32px;
}

.email-icon {
  margin-right: 10px;
  fill: var(--main-text-color);
}

.auth-nav .contact-link {
  margin-left: 30px;
  font-weight: 500;
}

.auth-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover .email-icon,
.contact-link:focus {
  fill: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.head-line {
  border-bottom: 1px solid var(--main-text-color);
}

/*Секция и заголовок секции*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;

  font-weight: bold;
  line-height: 1.167;
}

.section-title {
  margin-bottom: 50px;
  color: var(--title-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.flexbox {
  display: flex;
  justify-content: space-between;
}

/*Специальный синий выделитель для "студия" и "e-mail"*/
.current {
  color: var(--accent-color);
  position: relative;
  padding-bottom: 0;
}

.current::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--accent-color);
  margin-top: 28px;
}

/*Секция героя*/
.hero-section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Img.jpg");
  background-color: var(--dark-background);
}

.hero-container {
  max-width: 690px;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  letter-spacing: 0.06em;
}
.hero-title {
  display: inline-block;
  margin-bottom: 30px;
  max-width: 696px;
  color: var(--white);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/*Кнопка*/

.button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--accent-color);
}

.button:hover,
.button:focus {
  color: var(--white);
  background-color: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Бэкграунд*/
.dark-background {
  background: var(--dark-background);
  color: var(--white);
}

/*Преимущества*/
.section .about-section {
  padding-left: 0;
  padding-right: 0;
}

.about-section .list {
  display: flex;
  justify-content: space-between;
}

.about-section .li-item {
  flex-basis: calc(100% / 4 - 30px);
}

.list-item {
  width: cal(100% - 90px) / 4;
}

.list-item:not(:last-child) {
  margin-right: 30px;
}

.about-section {
  justify-content: space-between;
  background-color: var(--white);
}

/*Обнуляем в .about верхний паддинг*/
.about {
  padding-top: 0;
}

.about-title {
  margin-bottom: 10px;

  font-weight: bold;
  line-height: 1.14;
  color: var(--title-color);
  text-transform: uppercase;
}

.about-info {
  margin-bottom: 0;
  display: inline-block;
  line-height: 1.71;
  font-weight: normal;
  color: #757575;
}

.about-info:not(:last-child) {
  margin-right: 30px;
}
/*Overlay в секции О нас*/
.about-thumb {
  position: relative;
}

.about-overlay {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 27px 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  background-color: rgba(47, 48, 58, 0.8);
}

/*Следующие свойства для иконок в Преимущества*/
.feature > .list-item::before {
  display: block;
  content: "";
  height: 120px;
  margin-bottom: 25px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--button);
  border-radius: 4px;
}

.icon-antenna::before {
  background-image: url(../images/icon/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/icon/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/icon/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/icon/astronaut.svg);
}

/*Наша команда*/
.team {
  padding-left: 0;
  padding-right: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--button);
  color: var(--title-color);
  width: auto;
}

.team .list {
  display: flex;
}

.team-item {
  text-align: center;
  background-color: var(--white);
}

.team-item {
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team .team-item + .team-item {
  margin-left: 30px;
}

.team h3 {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
  font-style: normal;
}

.team p {
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: normal;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.social-box {
  display: flex;
  padding-left: 32px;
  padding-right: 32px;
  margin-top: 16px;
}

.social-list:not(:last-child) {
  margin-right: 10px;
}

.socialmedia {
  display: inline-flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  fill: var(--icon-color);
}

.socialmedia-icon {
  width: 20px;
  height: 20px;
}

.socialmedia:hover {
  background-color: var(--accent-color);
  fill: var(--white);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Клиенты*/
.clients-box {
  display: flex;
}

.clients-box .item:not(:last-child) {
  margin-right: 30px;
}

.clients-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
}

.clients-logo:hover {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Футер*/
.footer-box {
  background-color: var(--dark-background);
}

.footer-logo {
  margin-bottom: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  color: var(--white);
}

.footer-address {
  font-weight: 400;
  text-align: left;
}

.footer-address .link {
  color: var(--white);
  margin-bottom: 9px;
  display: inline-block;
  font-style: normal;
}

.footer-contacts .link {
  color: var(--footer-contacts);
}

.footer-container {
  display: flex;
  align-items: baseline;
  margin-top: 94px;
  padding-top: 60px;
  padding-bottom: 60px;
}

/*Присоединяйтесь*/
.join-us {
  margin-left: 70px;
}

.title-join-us {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--white);
  margin-bottom: 20px;
}

.social-box-footer {
  display: flex;
}

.footer {
  background: rgba(255, 255, 255, 0.1);
  fill: var(--white);
}

/*Подпишитесь на рассылку*/
.submit {
  margin-left: 93px;
}

.button-sign {
  position: relative;
  padding-left: 29px;
  padding-right: 10px;
  width: 200px;
  min-height: 50px;
  text-align: left;
  line-height: 1.875;
}

.sign-input {
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--dark-background);

  margin-right: 12px;
  padding-left: 16px;
}

.submit-icon {
  position: absolute;
  fill: var(--white);
  display: inline-flex;

  width: 24px;
  height: 24px;
  top: 11px;
  right: 23px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Секция Filter*/
.container .container-top {
  max-width: 1200px;
}

.filter-box {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-box .item {
  display: inline-block;
  align-items: center;
}

.item {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;
}

.filter-box .item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  padding: 6px 22px;
  color: var(--title-color);
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  min-width: 73px;
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--button);
  color: var(--title-color);
  border: 1px solid var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Карточки*/
.our-projects {
  padding-top: 94px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
}

.our-project-card:not(:nth-child(3n)) {
  margin-right: 30px;
}

.our-project-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.our-project-card:hover,
.our-project-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms ease;
  margin-bottom: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white);
  background-color: rgba(33, 150, 243, 0.9);
}

.our-project-card:hover .portfolio-overlay,
.our-project-card .link:focus .portfolio-overlay {
  transform: translateX(0);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-card-content {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}

.our-project-title {
  margin-top: 20px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.our-project-topic {
  font-size: 16px;
  line-height: 1.87;
}

/*Модальное окно*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  padding: 40px;

  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  margin: 0;
  padding: 0;

  background-color: var(--white);
  cursor: pointer;
}

.close-modal:hover,
.close-modal:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
  background-color: var(--white);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*Form*/
.form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.form-title {
  font-style: normal;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-field label {
  margin-bottom: 4px;
}

.form-field input,
textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0;
  padding: 12px 16px;
}

.form-field input::placeholder {
  background: var(--white);
}

.form-input {
  width: 100%;
  padding-left: 45px;
}

.form-button {
  display: block;
  margin: 0 auto;
  border-color: var(--accent-color);
}

.input-wrapper {
  position: relative;
}

.input-wrapper .form-input {
  padding-left: 45px;
}

.input-wrapper:focus-within > .form-icon {
  fill: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper:focus-within > .form-input {
  outline: none;
  border: 1px solid var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field:focus-within .form-textarea {
  outline: none;
  border: 1px solid var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.man-icon {
  position: absolute;
  top: 14px;
  left: 15px;
}

.call-icon {
  position: absolute;
  top: 13px;
  left: 14px;
}

.mail-icon {
  position: absolute;
  top: 14px;
  left: 13px;
}

.policy-field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.policy-lable {
  display: inline-flex;
  align-items: center;
  line-height: 1.71;
  margin-bottom: 30px;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox:checked + .checkbox-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-origin: border-box;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  cursor: pointer;
}

.policy-link {
  color: var(--accent-color);
  margin-left: 4px;
}
