$main-text-color: #757575;
$accent-color: rgb(33, 150, 243);
$title-color: #212121;
$white: #ffffff;
$dark-background: #2f303a;
$footer-contacts: rgba(255, 255, 255, 0.6);
$button: #f5f4fa;
$icon-color: #afb1b8;
